@page
@model IndexViewModel

@if (Model.Plants == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <h3 style="display:inline">Your Garden</h3>
        <a asp-page="Form" class="btn text-light my-bg" style="float:right">New Plant</a>
    </div>
    <hr/>

    <div class="card-deck">
        @foreach (var plant in Model.Plants.OrderBy(x => x.NextWateringDate)) {
        string noteText = plant.Notes.Length > 100 ? plant.Notes.Substring(0, 100) + "..." : plant.Notes;

        <div class="card mb-4" style="min-width:20rem; max-width:20rem">
            <div class="image-holder">
                <img class="card-img-top plant-image" src="image/@plant.ImageName" alt="@plant.Name"/>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <a asp-page="./plant" asp-route-id="@plant.Id" class="card-link">@plant.Name</a>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">@plant.Type</h6>
                <p class="card-text">@noteText</p>
                <p class="card-text text-muted">Water by @plant.NextWateringDate.ToString("MMM d, yyyy")</p>
                @* <a asp-action="Water" asp-route-id="@plant.Id" class="card-link">Water</a> *@
            </div>
        </div>
        }
    </div>
}
